<div class="container cart-container page-shell">
  <header class="cart-header">
    <div>
      <p>Your order</p>
      <h2>Cart Details</h2>
    </div>
    <a class="cart-home" routerLink="/welcome" title="Back to home">
      <i class="glyphicon glyphicon-home"></i>
      <span>Menu</span>
    </a>
  </header>

  <section class="cart-panel">
    <div class="cart-panel__heading">
      <span>Items in your cart</span>
      <strong>Total: {{total_price | currency}}</strong>
    </div>
    <div class="cart-panel__note">
      <span><i class="glyphicon glyphicon-ok-sign"></i> Free delivery on orders above $20</span>
      <span><i class="glyphicon glyphicon-flash"></i> Avg dispatch time: 20 mins</span>
    </div>

    <div *ngIf="selectedList.length; then content else other_content"></div>

    <ng-template #content>
      <div class="row">
        <div *ngFor="let i of selectedList" class="col-xs-12 col-md-6">
          <article class="cart-item">
            <button type="button" class="close" (click)="removeItem(i)">
              <span title="Remove">&times;</span>
            </button>
            <img src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/support/list-image/phones/Honor%209lite.png"
              class="cart-item__image" />
            <h3>{{i.name}}</h3>
            <p class="cart-item__price">{{i.price * i.quantity | currency}}</p>
            <div class="cart-item__qty">
              <span>Total Quantity:</span>
              <button class="minus" title="Remove" (click)="decQuantity(i)">-</button>
              <span class="quantity">{{i.quantity}}</span>
              <button class="minus plus" title="Add" (click)="incQuantity(i)">+</button>
            </div>
          </article>
        </div>
      </div>
    </ng-template>

    <ng-template #other_content>
      <div class="cart-empty">
        <h3>Your cart is empty</h3>
        <p>Add products from menu to continue checkout.</p>
      </div>
    </ng-template>

    <div class="cart-actions">
      <a class="btn btn-default cart-actions__cancel" routerLink="/welcome">Continue Shopping</a>
      <button class="btn btn-brand cart-actions__pay" routerLink="/success" [disabled]="!selectedList.length">Proceed to Pay</button>
    </div>
  </section>
</div>
